<div class="navbar">
  <div class="left-col navbar-link">
    <%= link_to "New Entry", new_entry_path %>
  </div>
  <div class="center-col">
    <%= link_to "Ruby learning journal", root_path %>
  </div>
  <div class="right-col">
    it is me
  </div>
</div>
