<div id="sidebar" class="sidebar hidden">
    <p>"Sidebar content goes here"</p>
    <%= link_to "View All Entries", root_path, class: "sidebar-link" %>
    <br/>
    <%= link_to "New Entry", new_entry_path %>
</div>
